<script lang="ts">
import { defineComponent } from 'vue'
import type { PropType } from 'vue'
import FancyBouton1 from '../FancyBouton.vue'
import type { Emplacement } from '~/gestocks-api'
export default defineComponent({
  components: { FancyBouton1 },
  props: {
    emplacement: {
      type: Object as PropType<Emplacement>,
      required: true,
    },
  },
  emits: {
    clicSuppression() { return true },
  },
},
)
</script>

<template>
  <div class="flex flex-row">
    <span class="pr-10">{{ emplacement.nom }}</span> <FancyBouton1 @clic="$emit('clicSuppression')">
      Supprimer
    </FancyBouton1>
  </div>
</template>
