<script lang="ts">
import FancyBouton1 from '../FancyBouton.vue'
import type { EmplacementPostRequest } from '~/gestocks-api'
import { EmplacementApi } from '~/gestocks-api'
export default defineComponent({
  components: { FancyBouton1 },
  emits: {
    refreshNeeded() { return true },
  },
  data() {
    return {
      nom_cible: '',
      api: new EmplacementApi(),
    }
  },
  methods: {
    async post_data() {
      if (this.nom_cible === '')
        return
      const request = { emplacement: { id: 0, nom: this.nom_cible } } as EmplacementPostRequest
      await this.api.emplacementPost(request)
      this.$emit('refreshNeeded')
    },
  },

})
</script>

<template>
  <input v-model="nom_cible" type="text"> <FancyBouton1 @clic="post_data()">
    <div class="icon-btn mx-2">
      <div i-carbon-add />
    </div> Ajout
  </FancyBouton1>
</template>
