<script lang="ts">
import { defineComponent } from 'vue'
import type { Emplacement } from '~/gestocks-api'
import { EmplacementApi } from '~/gestocks-api'

export default defineComponent({
  emits: {
    selectEmplacement(payload: {
      emplacement: Emplacement
    }) {
      return payload.emplacement.id > 0
    },
  },
  data() {
    return {
      api: new EmplacementApi(),
      emplacements: [] as Emplacement[],
    }
  },
  mounted() {
    this.updateData()
  },
  methods: {
    async updateData() {
      this.emplacements = await this.api.emplacementsGet()
    },
  },
})
</script>

<template>
  <element-emplacement-admin v-for="emplacement in emplacements" :key="emplacement.id" :emplacement="emplacement" />
</template>
