<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    clic() { return true },
  },
})
</script>

<template>
  <div class="p-2 bg-ens border-black border-0 rounded-xl hover:bg-ens-dark hover:border-3" @click="$emit('clic')">
    <slot> CLIC </slot>
  </div>
</template>
