<script lang="ts">
import vSelect from 'vue-select'
import { ComposantsApi, EmplacementApi, InstancesApi } from '~/gestocks-api'
import type { DeclarationComposant, Emplacement } from '~/gestocks-api'
import 'vue-select/dist/vue-select.css'

export default defineComponent({
  components: { VSelect: vSelect },
  data() {
    return {
      nom: '',
      definition_selectionee: null as (DeclarationComposant | null),
      emplacement_selectione: null as (Emplacement | null),
      nombre: 0,
      definitions: [] as DeclarationComposant[],
      emplacements: [] as Emplacement[],

    }
  },
  computed: {
    definitionExistante() {
      return !(this.id_definition === 0)
    },
    id_definition() {
      return (this.definition_selectionee != null) ? this.definition_selectionee.id : 0
    },

  },
  mounted() {
    this.updateData()
  },
  methods: {
    isValideInput(): boolean {
      if (this.emplacement_selectione === null)
        return false
      if ((this.definition_selectionee === null) && this.nom === '')
        return false
      return true
    },
    async updateData() {
      const api_composant = new ComposantsApi()
      const api_emplacement = new EmplacementApi()
      this.definitions = await api_composant.composantsGet()
      this.emplacements = await api_emplacement.emplacementsGet()
    },
    async ajoutDefinition() {
      const api = new ComposantsApi()
      const response = await api.composantPost({ declarationComposant: { id: 0, nom: this.nom } })
      return response
    },
    async ajoutComposantSimple() {

    },
    async ajoutComposant() {
      if (!this.isValideInput())
        return
      let id_def_cible = this.id_definition
      if (!this.definitionExistante) {
        try {
          const new_def = await this.ajoutDefinition()
          id_def_cible = new_def.id
        }
        catch (error) {
          return
        }
      }
      const api = new InstancesApi()
      const promises = []
      for (let idx = 0; idx < this.nombre; idx++)
        promises.push(api.instancePost({ instanceComposant: { id: 0, idDefinition: id_def_cible, idEmplacement: this.emplacement_selectione.id } }))

      for (let idx = 0; idx < this.nombre; idx++)
        await promises[idx]
    },
  },
})
</script>

<template>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-4">
    <div>
      <label for="nom composant">Nom du composant : </label>
      <input v-model="nom" name="nom composant" type="text" :disabled="definitionExistante" placeholder="foobar" class="fancy-input">
    </div>
    <div>
      <label for="nombre composant">Nombre de composant : </label>
      <input v-model="nombre" name="nombre composant" type="number" class="fancy-input">
    </div>
    <VSelect v-model="definition_selectionee" label="nom" :options="definitions" placeholder="Choisir un composant existant" />
    <VSelect v-model="emplacement_selectione" label="nom" :options="emplacements" placeholder="Choisir l'emplacement" />
  </div>
  <FancyBouton @clic="ajoutComposant()">
    Ajout
  </FancyBouton>
</template>

<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;
  @layer components {
    .fancy-input {
    @apply disabled:bg-grisens rounded-xl border-ens focus:border-2 p-2 m-2 focus:m-0;
  }
}
</style>
