<script>
export default defineComponent({

})
</script>

<template>
  <nav class="text-xl mt-6">
    <RouterLink to="/">
      Home
    </RouterLink>
    <RouterLink to="/Inventaire">
      Inventaire
    </RouterLink>
    <RouterLink to="/Trouveur">
      Recherche composant
    </RouterLink>
    <RouterLink to="/Ajout">
      Nouvaux elements
    </RouterLink>
    <RouterLink to="/Administration/Emplacement">
      Emplacement
    </RouterLink>
  </nav>
</template>
