<script lang="ts">
import vSelect from 'vue-select'
import InventaireRenderVue from './InventaireRender.vue'

import type { ContenuEmplacement, Emplacement } from '~/gestocks-api'
import { EmplacementApi } from '~/gestocks-api'
import 'vue-select/dist/vue-select.css'

export default defineComponent({
  components: { VSelect: vSelect, InventaireRender: InventaireRenderVue },

  data() {
    return {
      contenu: null as (null | ContenuEmplacement),
      id_cible: 0,
      emplacements: [] as Emplacement[],
    }
  },
  watch: {
    id_cible(newid, oldid) {
      this.updateContenu()
    },
  },
  async mounted() {
    await this.updateEmplacements()
    await this.updateContenu()
  },
  methods: {
    async updateContenu() {
      const api = new EmplacementApi()
      this.contenu = await api.emplacementContenuIdEmplacementGet({ idEmplacement: this.id_cible })
    },
    async updateEmplacements() {
      const api = new EmplacementApi()
      this.emplacements = await api.emplacementsGet()
    },
  },
})
</script>

<template>
  <VSelect
    v-model="id_cible" label="nom" :options="emplacements" placeholder="Quel emplacement" :reduce="emplacement => emplacement.id"
  />
  <InventaireRender v-if="contenu != null" :representation="contenu" />
</template>
