<script lang="ts">
import vSelect from 'vue-select'
import TrouveurRenderVue from './TrouveurRender.vue'

import type { DeclarationComposant, RepartitionInstance } from '~/gestocks-api'
import { ComposantsApi } from '~/gestocks-api'
import 'vue-select/dist/vue-select.css'

export default defineComponent({
  components: { VSelect: vSelect, TrouveurRender: TrouveurRenderVue },

  data() {
    return {
      repartition: null as (null | RepartitionInstance),
      id_cible: 0,
      definitions: [] as DeclarationComposant[],
    }
  },
  watch: {
    id_cible(newid, oldid) {
      this.updateRepartition()
    },
  },
  async mounted() {
    await this.updateDefinitions()
    await this.updateRepartition()
  },
  methods: {
    async updateRepartition() {
      const api = new ComposantsApi()
      this.repartition = await api.composantRepartitionIdDefinitionGet({ idDefinition: this.id_cible })
    },
    async updateDefinitions() {
      const api = new ComposantsApi()
      this.definitions = await api.composantsGet()
    },
  },
})
</script>

<template>
  <VSelect
    v-model="id_cible" label="nom" :options="definitions" placeholder="Quel composant" :reduce="def => def.id"
  />
  <TrouveurRender v-if="repartition != null" :representation="repartition" />
</template>
