<script lang="ts">
import type { PropType } from 'vue'
import type { RepartitionInstance } from '~/gestocks-api'
export default defineComponent({
  props: {
    representation: {
      type: Object as PropType< RepartitionInstance>,
      required: true,
    },
  },
})
</script>

<template>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          Contenue de l'emplacement
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="elem in representation.contenu" :key="elem.id">
        <td>{{ elem.nombreDisponible }}</td>
        <td>{{ elem.emplacement.nom }}</td>
      </tr>
    </tbody>
  </table>
</template>
